.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    background-color: rgb(255, 252, 252);
    width: 72px;
    padding-top: 5px;
    z-index: 200;
}
.sidebar-link{
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-link img{
    height: 24px;
}
.sidebar-link div{
    margin-top: 7px;
    font-family: roboto,arial;
    font-size: 10px;
}